<div class="container">
    @for (user of users$ | async; track user) {
    <div class="user-card">
        <div class="user-data">
            <div>
                <img src="http://localhost/desafio_sync360/profile_media/{{user.img_profile}}" width="120" height="120">
            </div>
            <div class="user-info">
                <div>
                    <span><b>Nome:</b> {{user.name}} </span>
                    <span class="text-nowrap"><b>Idade:</b> {{[calcAge(user.birthdate)]}} </span>
                </div>
                <div>
                    <span><b>Rua:</b> {{user.street}} </span>
                    <span><b>Bairro:</b> {{user.district}} </span>
                    <span class="text-nowrap"><b>Estado:</b> {{user.state}} </span>
                </div>
            </div>
        </div>
        <div class="btn-wrapper">
            <button class="btn btn-warning btn-lg" (click)="edit(user.id)">Editar</button>
            <button class="btn btn-danger btn-lg" (click)="delete(user.id)">Excluir</button>
            <a class="btn btn-link" (click)="detail(user.id)">Ver Detalhes</a>
        </div>
    </div>
    }@empty {
        <h1 class="mt-3 text-center"> Nenhum usuário Cadastrado</h1>
    }


</div>